.formPaper {
  width: 100%;
  max-width: rem(450px);
  border-radius: var(--mantine-radius-sm);
  padding: var(--mantine-spacing-xl);
  margin: var(--mantine-spacing-xl);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
